{% extends "topnav.html" %} 

{% block content %}
    <h1>Welcome to AtomView!</h1>
    <p>This is the homepage.</p>
    
    <div id="scene-container" style="width: 800px; height: 600px; background-color: #ffffff;"></div>
    <p>{{ demonstration_name }}</p>
    <script type="importmap">
        {
        "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
        }
    </script>

    <script type="module" src="{{ url_for('static', filename='js/homescreendemo.js') }}"></script>
{% endblock %}