html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.topnav a {
  float: left;
  color: #979797;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, transparent, var(#979797), transparent);
  border-image-slice: 1;
}

.topnav a.logo { 
  padding: 0;
}

.topnav a.logo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.topnav a.logo .logo-text {
  font-weight: bold;
  color: #f2f2f2;
}

.topnav a:hover {
  background-color: #d6d6d6;
}

.topnav a.active {
  background-color: #e0e0e0;
}

.logoimg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}